html, body {
  display: flex;
  flex: 1 0 auto;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.test-component {

}

$fa-font-path: '/assets/fonts';
$govuk-frontend-toolkit-image-path: '/assets/images/';
$govuk-template-image-path: '/assets/images/';
$pdk-image-path: '/assets/images/';
$nta-font-path: '/assets/fonts';

@import "./app/app";




